@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

body {
    font-family: 'Economica';
    padding: 8px;
}

h1, h2, h3, h4 {
    clear: both;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #E0E0E0;
}

h4 {
    font-size: 1.25em;
}

span + h3, blockquote + h3 {
    padding-top: 3em;
    display: block;
}

span.console, span.code {
    font-family: 'Iconsolata';
    margin-bottom: 8px;
}

span.console {
    display: block;
    padding: 4px 8px;
    background-color: #505557;
    color: #F2F2F2;
}

span.console:before {
    content: '$';
    display: inline-block;
    margin-right: 8px;
}

span.code {
    font-style: italic;
    float: left;
    display: block;
    width: calc( 33.33% - 20px );
    margin-right: 20px;
    min-width: 400px;
}

span.code pre {
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    padding: 4px 8px;
    font-style: normal;
    display: block;
    min-width: 384px;
    overflow: auto;
}

div.demo {
    border: 2px ridge #E0E0E0;
    padding: 12px;
    margin: 12px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

blockquote {
    clear: both;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 4px 12px;
    margin: 12px 24px;
    background-color: #C8E6C9;
}

blockquote.danger {
    background-color: #FFCDD2;
}
